@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome test</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <button id="btnAddCar"> Add Car</button>
    <button id="btnGetAllCars"> Get All Cars</button>

</div>

@section Scripts{
    <script type="text/javascript" src="~/js/ManageCars.js"></script>
}